.nav {
  position: fixed;
  width: 100%;
  background: var(--navbar);
  top: 0;
  left: 0;
  z-index: 100;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1900px;
  padding: 20px 40px;
  box-sizing: border-box;
}

.navTitle {
  color: var(--black);
 
}

.links {
  display: flex;
  gap: 20px;
}

.navLink {
  position: relative;
  text-decoration: none;
  color: var(--black);
  font-size: var(--font-medium);
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1.4px;
  background: var(--black);
  transition: width 0.3s ease;
}

.navLink:hover::after {
  width: 100%;
}
